@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./_utils/css/index.css");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .card {
    @apply text-center dark:border shadow-md dark:shadow-none dark:border-white dark:border-opacity-10 p-5 rounded-md dark:rounded-none;
  }

  .nav-item {
    @apply py-3 border-b dark:border-white dark:border-opacity-5  border-black border-opacity-5;
  }

  .nav-link {
    @apply flex pl-5 items-center dark:text-white;
  }

  .nav-link span {
    @apply ml-2 text-[12px];
  }
}

@layer utilities {
  .switch-theme .sun {
    display: none;
  }

  .switch-theme .moon {
    display:  block;
  }

  .switch-theme {
    background: #242424;
  }
  .dark .switch-theme {
    background: linear-gradient(180deg, #ffcc89, #d8860b);
  }

  .dark .switch-theme svg.sun {
    display: block;
  }
  .dark .switch-theme svg.moon {
    display: none;
  }
}
